<!Doctype html>
<html lang="ko">

<head>
	<title>공유캘린더</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
	<script src="https://cdn.tailwindcss.com"></script>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        $(document).ready(function () {
            var cookie = getCookie('username');
            if (cookie != undefined) {
                window.location.replace('/calendar')
            }
            });


        function login() {
            let username = $('#input-username').val();
            let password = $('#input-password').val();

            console.log(username, password)

            if(username =="") {
                alert("이름을 입력하세요")
                $("#input-username").focus()
                return;
            }
            if(username == "") {
                alert("비밀번호를 입력하세요")
                $("#input-password").focus()
                return;
            }
            //쿠키를 저장하는 부분
            let nameKey = "username"; //key-value값
            let date = new Date();
            date.setDate(date.getDate() + 30);
            let expDate = date.toUTCString(); //시간을 문자열로
            setCookie(nameKey, username, expDate);

            $.ajax({
                type: "POST",
                url: "/login",
                data: {
                    username_give: username,
                    password_give: password
                },
                success: function(response) {
                    if(response['result'] == 'fail') {
                        alert(response['msg'])
                    } else {
                        window.location.href = '/calendar'
                    }
                }
            });
        }

        //쿠키로 저장하는 틀
        function setCookie(NameKey, NameValue, ExpDate){
	        let strCookie = "";
            strCookie = NameKey + '=' + encodeURIComponent(NameValue) + "; expires=" + ExpDate; 
            document.cookie = strCookie;
        }

        function getCookie(cookieName){
            var cookieValue=null;
            if(document.cookie){
                var array=document.cookie.split((escape(cookieName)+'='));
                if(array.length >= 2){
                    var arraySub=array[1].split(';');
                    cookieValue=unescape(arraySub[0]);
                }
            }
            return cookieValue;
        }



        function gotoCalendar() {
            window.location.replace("/calendar")
        }
        function gotoEdit() {
            window.location.replace("/edit")
        }

    </script>
</head>

<body>
    <!-- <div
        class="bg-purple-900 absolute top-0 left-0 bg-gradient-to-b from-gray-900 via-gray-900 to-purple-800 bottom-0 leading-5 h-full w-full overflow-hidden">
    </div> -->
    <div class="relative   min-h-screen  sm:flex sm:flex-row  justify-center bg-transparent rounded-3xl shadow-xl">
        <div class="flex justify-center self-center  z-10 shadow-xl">
            <div class="p-12 bg-white mx-auto rounded-3xl w-96 ">
                <div class="mb-7">
                    <h1 class="font-semibold text-4xl text-purple-800 mb-10">Share Calendar</h1>
                </div>

                <div class="space-y-6">
                    <div class="">
                        <input id="input-username"
                            class=" w-full text-sm  px-4 py-3 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-purple-400"
                            type="" placeholder="이름">
                    </div>
                    <div class="relative" x-data="{ show: true }">
                        <input id="input-password" placeholder="비밀번호" :type="show ? 'password' : 'text'"
                            class="text-sm px-4 py-3 rounded-lg w-full bg-gray-200 focus:bg-gray-100 border border-gray-200 focus:outline-none focus:border-purple-400">
                        <div class="flex items-center absolute inset-y-0 right-0 mr-3  text-sm leading-5">


                        </div>
                    </div>
                    <div>
                        <button type="submit"
                            class="w-full flex justify-center bg-purple-800  hover:bg-purple-700 text-gray-100 p-3  rounded-lg tracking-wide font-semibold  cursor-pointer transition ease-in duration-500"
                            s onclick="login()">
                            로그인
                        </button>
                        <br>
                        <button type="submit"
                            class="w-full flex justify-center bg-purple-800  hover:bg-purple-700 text-gray-100 p-3  rounded-lg tracking-wide font-semibold  cursor-pointer transition ease-in duration-500"
                            s onclick="gotoEdit()">
                            비밀번호 변경
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- <footer class="bg-transparent absolute w-full bottom-0 left-0 z-30">
        <div class="container p-5 mx-auto  flex items-center justify-between ">
            <div class="flex mr-auto">
                <a href="https://codepen.io/uidesignhub" target="_blank" title="codepen aji"
                    class="text-center text-gray-700 focus:outline-none"><img
                        src="/storage/avatars/njkIbPhyZCftc4g9XbMWwVsa7aGVPajYLRXhEeoo.jpg" alt="aji"
                        class="object-cover mx-auto w-8 h-8 rounded-full w-10 h-10">
                    <p class="text-xl">aji<strong>mon</strong></p>
                </a>
            </div>

        </div>
    </footer> -->

    <svg class="absolute bottom-0 left-0 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#fff" fill-opacity="1"
            d="M0,0L40,42.7C80,85,160,171,240,197.3C320,224,400,192,480,154.7C560,117,640,75,720,74.7C800,75,880,117,960,154.7C1040,192,1120,224,1200,213.3C1280,203,1360,149,1400,122.7L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
        </path>
    </svg>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"></script>
</body>

</html>
